@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Mulish");

.movieDetailsInfo {
   display: flex;
   flex-direction: column;
   font-family: 'Mulish';
   width: 100%;
}
.movieDetailsMoreInfo {
   display: flex;
   justify-content: space-between;
}
.adminMovieBtnArea {display: flex; justify-content: space-evenly; width: 100%;}
.adminNowShowingBtn {border: none;}
.adminUpdateFilmBtn, .adminRemoveFilmBtn {color: white; font-weight: 600; letter-spacing: 0.75px;}
.adminUpdateFilmBtn {background: #3CB371;}
.adminRemoveFilmBtn {background: indianred;}
.genreGroupBorder {text-align: center;}
.genreBtnGroup {display: flex; flex-direction: row; align-items: center; justify-content: center;}
.genreBtn {background: #5F2EEA; border: none; color: white; font-family: 'Mulish';}
.genreBtn:hover {opacity: 0.5;}
.borderTopGenre {border-top: 0.1vw solid #DEDEDE;}

/* DESKTOP */
@media (min-width: 768px){
   .marginLeftGenre {margin-left: 1vw;}
   .genreBtnGroup {margin-top: 3%;}
   .genreGroupBorder {border: 0.1vw solid #DEDEDE; border-radius: 0.5vw; font-size: 1.1vw; width: 25vw;}
   .genreBtn {border-radius: 0.5vw; font-size: 1.1vw; margin: 3% 3% 3% 0; padding: 0.5vw 0; width: 8vw;}
   .paddingForGenreGroup {padding: 3%;}
   .someMoviesFound {color: #A0A3BD; font-size: 0.8vw;}
   .nowShowingMovieDetails {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      margin: 0 8vw;
      padding: 5vw 0;
      width: auto;
   }
   .movieDetailsMoreInfo {margin-top: 3%;}
   .movieDetailsImgBorder {
      border: 0.1vw solid #DEDEDE;
      border-radius: 0.5vw;
      height: 28vw;
      margin-right: 5%;
      padding: 2.5%;
      width: 24vw;
   }
   .movieDetailsImg {
      border-radius: 0.3vw;
      height: 100%;
      width: 100%;
   }
   .movieDetailsTitle {
      font-size: 2vw;
      font-weight: 600;
   }
   .movieDetailsGenre {
      color: #4E4B66;
      font-size: 1vw;
      line-height: 0;
   }
   .movieDetailsRowOne {width: 33%;}
   .movieDetailsRowTwo {width: 66%;}
   .topTextMovieDetails {
      color: #8692A6;
      font-size: 0.8vw;
      margin: 0;
   }
   .bottomTextMovieDetails {color: #121212;font-size: 1vw;}
   .thisIsLineBreaksMovieDetails {
      border-top: 0.1vw solid #DEDEDE;
      margin: 1% 0;
      width: 100%;
   }
   .synopsisText {font-size: 1.2vw; font-weight: 600; margin-top: 1%;}
   .afterSynopsisText {color: #4E4B66; font-size: 0.9vw; letter-spacing: 0.75px;}
   .adminMovieBtnArea {flex-direction: row;}
   .adminNowShowingBtn {font-size: 1vw; width: 33%;}
   .adminUpdateFilmBtn, .adminRemoveFilmBtn {border-radius: 0.5vw; margin-top: 1%; padding: 1% 0;}
}

/* MOBILE */
@media (max-width: 768px){
   .nowShowingMovieDetails {
      align-items: center; 
      background: #FCFDFE; 
      border-bottom: 1px solid #DEDEDE;
      display: flex; 
      flex-direction: column; 
      height: auto; 
      padding: 36px 24px;
      padding-top: 60px;
   }
   .movieDetailsImgBorder {border: 0.5px solid #DEDEDE; border-radius: 8px; height: 300px; padding: 24px; width: 200px;}
   .movieDetailsImg {height: 100%; width: 100%;}
   .movieDetailsTitle {font-size: 20px; font-weight: 600; margin: 0; text-align: center; padding: 32px 0 8px 0;}
   .movieDetailsGenre {text-align: center;}
   .movieDetailsRowOne {width: 50%;}
   .movieDetailsRowTwo {width: 50%;}
   .topTextMovieDetails {color: #8692A6; font-size: 13px; margin: 0;}
   .bottomTextMovieDetails {font-size: 15px;}
   .thisIsLineBreaksMovieDetails {display: none;}
   .synopsisText {font-size: 16px;}
   .afterSynopsisText {color: #4E4B66; font-size: 13px; letter-spacing: 0.75px;}
   .adminUpdateFilmBtn, .adminRemoveFilmBtn {border-radius: 12px; font-weight: 600; letter-spacing: 0.75px; padding: 12px;}
   .adminMovieBtnArea {flex-direction: column;}
}