@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Mulish");

a:link {text-decoration: none;}
a:focus {outline: none;}
.showWhenHover {display: none;}
.textSet {font-family: 'Mulish'; text-align: center;}
.nowShowing {
   background-color: #F5F6F8;
   display: flex;
   flex-direction: column;
}
.nowShowingHeader {
   color: #5F2EEA;
   display: flex;
   flex-direction: row;
   font-weight: 700;
   justify-content: space-between;
}
.nowShowingMovie {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.nowShowingTitle {font-family: 'Mulish'; font-weight: 700;}
.nowShowingGenre {color: #A0A3BD;}
.btnDetail {background: transparent;}
.btnDetail, .btnBookNow {border: none;}
.btnDetail:hover, .btnBookNow:hover {cursor: pointer;}

/* DESKTOP */
@media (min-width: 768px){
   .nowShowing {height: 33vw; padding: 3% 7%;}
   .nowShowingHeader {margin-bottom: 5%;}
   .nowShowingList {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .nowShowingMovie {
      background: rgba(255, 255, 255, 0.3);
      border: 0.1vw solid white;
      border-radius: 0.5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 18vw;
      padding: 1.5%;
      width: 12vw;
   }
   .nowShowingMovie:hover {
      background: white;
      border: 0.1vw solid #DEDEDE;
      box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
      height: auto;
      z-index: 1;
   }
   .nowShowingMovie:hover .showWhenHover {
      display: flex;
      flex-direction: column;
   }
   .nowShowingMovieImg {border-radius: 0.5vw; height: 15vw; width: 100%;}
   .nowShowingText {font-size: 1.3vw;}
   .viewAll {color: #5F2EEA; font-size: 0.9vw;}
   .viewAll:hover {opacity: 0.5;}
   .titleBorder {margin-bottom: 3vw;}
   .nowShowingTitle {font-size: 1vw; padding: 1vw 0 0.5vw 0;}
   .nowShowingGenre {font-size: 0.7vw;}
   .btnDetail {
      border: 0.1vw solid #5F2EEA;
      border-radius: 0.3vw; 
      color: #5F2EEA; 
      font-size: 0.7vw;
      margin-bottom: 0.8vw; 
      padding: 0.3vw 3vw;
   }
   .btnBookNow {
      background-color: #5F2EEA; 
      border-radius: 0.3vw;
      color: white;
      font-size: 0.7vw;
      padding: 0.39vw 0;
      width: 100%;
   }
   .btnBookNow:hover {color: white;}
   .btnDetail:hover, .btnBookNow:hover {opacity: 0.5;}
}

/* MOBILE */
@media (max-width: 768px){
   .nowShowing {
      height: 400px;
      width: 100%;
   }
   .nowShowingHeader {
      padding: 48px 24px;
   }
   .nowShowingText {font-size: 18px;}
   .viewAll {color: #5F2EEA; font-size: 14px;}
   .nowShowingList {
      background-color: transparent;
      display: flex;
      overflow-y: hidden;
      margin: auto;
      margin-bottom: 15%;
      padding: 0 0 15px 0;
      white-space: nowrap;
      width: 90%;
   }
   .nowShowingMovie {
      background: rgba(255, 255, 255, 0.3);
      border: 0.1vw solid white;
      height: auto;
      margin: 0 16px;
      padding: 16px;
      width: 154px;
   }
   .nowShowingMovieImg {
      height: 185px;
      border-radius: 4px;
      width: 122px;
   }
}
