.titleAndChangeMovie {
   align-items: center;
   background: #5F2EEA;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}
.orderMovieTitle {color: white;}
.changeOrderedMovie {background: #dfd2ff; color: #5F2EEA;}
.changeOrderedMovie:hover {background: #f0eaff; color: #5F2EEA;}
.insideOrderPage {background: white; width: 100%;}
.sixBcolor {color: #6B6B6B;}
.checkoutNowBtn {background: #5F2EEA; border: none; color: white;}
.noLineHeight {line-height: 1;}
.chooseSeatBtn:hover {opacity: 0.5;}
.selectedSeatActive { background: #5F2EEA !important; }

/* DESKTOP */
@media (min-width: 768px){
   .titleAndChangeMovie {border-radius: 0 0 1vw 1vw; padding: 1% 11% 1% 7%;}
   .orderMovieTitle {font-size: 1.2vw;}
   .changeOrderedMovie {border-radius: 2vw; font-size: 0.9vw; font-weight: 600; padding: 1% 2%;}
   .orderPageRow {background: #F5F6F8; display: flex; flex-direction: row; justify-content: space-between; padding: 5% 11% 5% 7%;}
   .chooseYourSeat, .orderInfo {display: flex; flex-direction: column; font-size: 1.1vw; font-weight: 600;}
   .chooseYourSeat {width: 65%;}
   .chooseSeatColumn {width: 100%;}
   .chooseSeatRow {align-items: center; display: flex; flex-direction: row; width: 100%;}
   .gapBetweenChooseSeat {width: 11vw;}
   .seatAlphabetGap {margin: 0 1vw;}
   .seatAlphabetPadding {padding: 0.5vw; width: 2vw;}
   .chooseSeatBtn {background: #D6D8E7; border-radius: 0.3vw; height: 1.5vw; margin: 0.3vw; width: 1.5vw;}
   .loveNest {background: #F589D7; width: 3.6vw;}
   .seatNumericInfo {height: 1.5vw; margin: 0 0.3vw; text-align: center; width: 1.5vw;}
   .seatAlphabetPadding, .seatNumericInfo {font-size: 0.9vw; font-weight: 400;}
   .giveGapToNumericAndSeat {margin: 1vw 0;}
   .orderInfo {width: 32%;}
   .orderPageCinemaLogo {height: 3.3vw; margin: auto; margin-top: 5%; width: 9.9vw;}
   .insideChooseYourSeat {display: flex; flex-direction: row; justify-content: space-between; padding: 5vw; width: 100%;}
   .chooseYourSeatDummy {width: 100%;}
   .checkoutNowBtn {border-radius: 0.5vw; margin: auto; margin-top: 5%; margin-bottom: 10%; padding: 1%; width: 33%;}
   .insideOrderPage {border-radius: 1vw;}
   .insideOrderPage:hover {box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);}
   .insideOrderInfoTop {border-bottom: 0.1vw solid #E6E6E6;}
   .insideOrderInfoTop, .insideOrderInfoBottom {padding: 2.5% 5%;}
   .insideOrderInfoText {display: flex; flex-direction: row; font-size: 0.8vw; font-weight: 400; justify-content: space-between; margin: 3% 0; width: 100%;}
}

/* MOBILE */
@media (max-width: 768px){

}